%h1= @gallery_image.name
%div
  = image_tag @gallery_image.image_url(:medium), alt: @gallery_image.alt, title: @gallery_image.description
= link_to "<- Back to gallery", admin_gallery_path(@gallery_image.gallery), class: 'btn btn-default'
